.root {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.input {
  height: 40px;
  font-size: 18px;
  background-repeat:no-repeat;
  border: none;
}

.formList {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 320px;
}

.iconButton, .remove {
  color: rgb(20, 52, 43);
  cursor: pointer;
  background-color: transparent;
  background-repeat:no-repeat;
  border: 2px rgb(20, 52, 43) solid;
}

.remove {
  color: rgb(120, 1, 22);
  border: 2px rgb(120, 1, 22) solid;
}
.formList li:not(.formActions) {
  padding: 8px 0;
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 8px;
}

.formActions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
