.modal {
    background-color: rgb(77, 124, 138);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 320px;
    display: grid;
    padding: 8px;
    height: 80%;
    grid-template-rows: auto 1fr auto;
}

.close {
    justify-self: end;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.submit {
    background-color: rgb(138, 80, 77);
    border-radius: 20px;
    border: 2px black solid;
    padding: 8px 24px;
    font-size: 18px;
}